* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: .3s ease-in-out;
    list-style: none;
}

body {
    /* background: rgba(135, 206, 235, 0.22); */
    position: relative;
}

.logo-container {
    width: 100%;
    background: linear-gradient(180deg,rgba(37, 125, 76, 1) 0%, rgba(37, 125, 76, 1) 50%, rgba(255, 215, 0, 1) 100%);
    padding: 40px;
    position: relative;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.logo-container > div {
    text-align: center;
    border: 1px solid #fff;
    border-radius: 40px;
    padding: 50px 0;
}

.logo-container > div h1 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.logo-container > div p {
    color: #fff;
}

.logo-container > button {
    position: absolute;
    bottom: -25px;
    background: #257d4c;
    color: #fff;
    text-align: center;
    padding: 3px;
    border: none;
    border-radius: 12px;
    left: 50%;
    margin-left: -76px;
    cursor: pointer;
}

.logo-container > button span {
    border: 1px solid #fff;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 10px;
    font-size: 20px;
}

.logo-container > button:hover span {
    color: #257d4c;
    background: #fff;
}

.container {
    display: none;
    padding: 30px;
    justify-content: center;
}

form .card h1 {
    color: #257d4c;
}

form .card p {
    margin: 20px 0;
}

form .card input[type=text],
form .card input[type=number],
form .card input[type=email] {
    font-size: 14px;
    vertical-align: baseline;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: .16px;
    border-radius: 0;
    outline: 2px solid transparent;
    outline-offset: -2px;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #257d4c;
    background-color: #f4f4f4;
    padding: 0 20px;
    color: #161616;
    margin-top: 5px;
    margin-bottom: 20px;
}

form .card .lists li {
    display: flex;
    justify-content: space-between;
}




form .action-buttons button {
    background: #257d4c;
    color: #fff;
    text-align: center;
    padding: 10px 30px;
    border: 2px solid #257d4c;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}

form .action-buttons button:hover {
    background: #fff;
    color: #257d4c;
}















































section,
#Precedent {
    display: none;
}

section.active {
    display: block;
}

.contenair form {
    margin-top: 100px;
}

.contenair .Welcome {
    text-align: center;
}

.contenair .Welcome h1 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #257d4c;
}

.contenair .Welcome h1 span {
    color: #ffd700;
}

.contenair .Welcome p {
    font-size: 20px;
    margin-bottom: 170px;
}

.contenair .action-buttons {
    display: flex;
    justify-content: space-around;
}

